* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    list-style: none !important;
    text-decoration: none !important;
}

.col-none-text {
    padding-left: 0;
    padding-right: 0;
}

/*Header-start */

/* all-header-menu-start */

.index_header{
    background: url(../img/BG.png);
    position: relative;
    padding-top: 159px;
}

header .header_menu {
    position: absolute;
    top: 0;
    width: 100%;
}

header .header_menu .brand {
    font-size: 36px;
    color: #fff;
    font-family: 'Comfortaa', cursive;
}

header .header_menu .brand:hover {
    color: #fff;
}

header .header_menu .header-nav-link {
    font-size: 16px;
    color: #fff;
    margin-right: 65px;
    font-family: 'Comfortaa', cursive;
}

header .header_menu .header-nav-link:hover {
    opacity: 0.5;
}

header .header_menu .nav_login {
    margin-left: 120px;
    display: flex;
    align-items: center;
    margin-top: -10px;
    font-family: 'Poppins', sans-serif;
}

.header_menu .nav_login a {
    font-size: 12px;
    color: #fff;
    margin-right: 24px;
    font-family: 'Poppins', sans-serif;
}

.header_menu .nav_login button {
    font-size: 14px;
    color: #BB6DF3;
    padding: 9px 26px;
    background: #fff;
    border-radius: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 500;
    border: none;
    transition: 0.5s;
}

.header_menu .nav_login button:hover {
    background: #3B668D;
    color: #fff;
}

/* all-header-menu-end */

/* ********************************************* */

/* Index-page-start */



 .header_personal {
    margin-top: 189px;
}

 .header_personal h1 {
    font-size: 79px;
    color: #3B668D;
    font-weight: 1000;
    line-height: 77px;
    text-transform: uppercase;
    margin-bottom: 12px;
    font-family: 'Roboto', sans-serif;
}

 .header_personal .storage {
    font-size: 24px;
    color: #3B668D;
    line-height: 150%;
    letter-spacing: 25px;
    text-transform: uppercase;
    padding-bottom: 30px;
    margin-bottom: 70px;
    border-bottom: 3px solid #3B668D;
    font-family: 'Montserrat', sans-serif;
}

.header_personal h3 {
    font-size: 26px;
    color: #3B668D;
    font-weight: 500;
    line-height: 156%;
    text-transform: uppercase;
    margin-bottom: 13px;
    font-family: 'Roboto', sans-serif;
}


.header_personal .upload {
    font-size: 16px;
    color: #2B4964;
    line-height: 156%;
    letter-spacing: 0.075em;
    margin-bottom: 27px;
    padding-right: 27.5%;
    font-family: 'Montserrat', sans-serif;
}

.header_personal button {
    padding: 24px 55px 24px 56px;
    background: linear-gradient(90deg, #43A1D6 0%, #907EFF 100%);
    border: none;
    border-radius: 45px;
    font-size: 24px;
    color: #FFFFFF;
    line-height: 27px;
    text-align: center;
    transition: 0.5s;
}

.header_personal button:hover {
    border-radius:0;
}

/* Index-page-end */

/* ******************************************** */

/* Contact-page-start */

.contact_header {
    background: url(../img/bg-1.png) no-repeat center center / cover;
    height: 30vh;
}

 .header_contact {
    margin-top: 240px;
}

 .header_contact h1 {
    font-size: 72px;
    color: #3B668D;
    letter-spacing: 30px;
    font-weight: 700;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

 .header_contact p {
    font-size: 26px;
    color: #3B668D;
    line-height: 44px;
    letter-spacing: 21px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

 .header_maps {
    padding-right: 0;
    padding-left: 0;
}

 .header_maps iframe {
    width: 100%;
    margin-top: 85px;
}   

.row > * {
    padding-right: 0;
    padding-left: 0;
}

/* header-end */

/* ***************************************************************** */

/* section-start */

section .section_register {
    background: url(../img/BG\ \(2\).png);
    padding: 80px ;
    margin-top: 145px;
}

section .section_register h2 {
    font-size: 68px;
    color: #3B668D;
    font-weight: 700;
    line-height: 80px;
    margin-bottom: 28px;
    font-family: 'Comfortaa', cursive;
}

section .section_register p {
    font-size: 26px;
    color: #79788F;
    line-height: 33px;
    font-weight: 400;
    margin-bottom: 70px;
    font-family: 'Comfortaa', cursive;
}

.section_register .register_text {
    display: flex;
    justify-content: center;
}

.section_register .register_s a {
    font-family: 'Comfortaa', cursive;
    font-size: 24px;
    color: #3B3F8D;
    display: block;
    text-align: end;
}

.section_register .register_s input {
    padding: 15px 27px;
    background: #F3F3F3;
    border-radius: 61px;
    border: none;
    outline: none;  
    width: 65%;
}

.section_register .register_s ::placeholder {
    font-size: 16px;
    color: #ADADAD;
    font-family: 'Comfortaa', cursive;
}

.section_register .register_s textarea {
    max-width: 100%;
    width: 65%;
    padding: 20px 30px ;
    background: #F3F3F3;
    padding-top: 36px;
    padding-left: 47px;
    border: none;
    border-radius: 50px;
    outline: none;
    font-family: 'Comfortaa', cursive;
}

.register_s .pharagraph {
    font-size: 18px;
    line-height: 20px;
    color: #ADADAD;
    font-family: 'Comfortaa', cursive;
}

.register_s button {
    padding: 10px 30px;
    background: linear-gradient(90deg, #43A1D6 0%, #907EFF 100%);
    border-radius: 62px;
    font-size: 20px;
    color: #FFFFFF;
    border: none;
    font-family: 'Comfortaa', cursive;
}

/* register-end */

/* ********************************************* */

/* call-start */

section .section_call {
    background: url(../img/section-img.jpg) no-repeat center center /cover;
    padding: 100px;
    margin-top:  150px;  
}

.section_call .section-call,
.section_call .section-calll {
    display: flex;
}

.section-call .call-text {
    margin-left: 30px;
}

.section-call h3 {
    font-size: 34px;
    color: #425B8C;
    line-height: 47px;
    font-family: 'Comfortaa', cursive;
}

.section-call p {
    font-size: 19px;
    color: #718DC2;
    line-height: 27px;
    margin-top: 10px;
    font-family: 'Comfortaa', cursive;
}

.section-calll img,
.section-call img {
    max-width: 100%;
    width: 80px;
    height: 80px;
}

.section-calll h3 {
    font-size: 34px;
    color: #425B8C;
    line-height: 47px;
    font-family: 'Comfortaa', cursive;
}

.section-calll p {
    font-size: 19px;
    color: #718DC2;
    line-height: 27px;
    margin-top: 10px;
    font-family: 'Comfortaa', cursive;
}

.section-calll .call-text {
    margin-left: 30px;
}


/* section-end */

/* Contact-page-end */

/* *********************************************************8 */

/* Faq-page-start */

section .faq_storage h1 {
    font-size: 60px;
    color: #3B668D;
    font-weight: 900;
    line-height: 70px;
    letter-spacing: 0.405em;
    text-transform: uppercase;
}

section .faq_storage p {
    font-size: 24px;
    color: #3B668D;
    line-height: 150%;
    letter-spacing: 0.905em;
    text-transform: uppercase;
    margin-bottom: 120px;
}

.section_install {
    background:  url(../img/BG\ \(1\).png);
}

/* Faq-page-end */

/* ****************************************************************** */

/* all-footer-start */

footer .footer_container {
    margin-top: 200px;
    background: url(../img/bg-3.png) no-repeat center center / cover;
    padding-top: 400px;
}

.footer_container h4 {
    font-size: 30px;
    color: #FFFFFF;
    line-height: 54px;
    font-family: 'Comfortaa', cursive;
    margin-bottom: 25px;
}

.footer_container p {
    font-size: 16px;
    color: #FFFFFF;
    line-height: 150%;
    font-family: 'Comfortaa', cursive;
}

.footer_container  a {
    font-size: 16px;
    line-height: 150%;
    text-decoration-line: underline;
    color: #FFFFFF;
    font-family: 'Comfortaa', cursive;
}

.footer_container .footer_p {   
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    font-family: 'Comfortaa', cursive;
    margin-top: -2px;
}

.footer_container .footer_pp {
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
    font-family: 'Comfortaa', cursive;
}

.footer_container .liner_content h5 {
    border-bottom: 1px solid #FFFFFF;
    margin-top: 50px;
}

.footer_container .liner_content p {   
    font-size: 18px;
    color: #FFFFFF;
    line-height: 27px;
    text-align: center;
    padding: 35px 0 27px 0;
}

/* all-footer-end */

/* ************************************** */

/* media-start */

@media (max-width:991px) {
    header .navbar-collapse {
        background: rgba(41, 41, 41, 0.932);
        padding: 20px;
        border-radius: 15px ;
    }

    header .header_contact {
        margin-top: 200px;
    }    

    .register_s .pharagraph {
        font-size: 16px;
        line-height: 20px;
        color: #ADADAD;
        font-family: 'Comfortaa', cursive;
    }

    .register_s button {
        padding: 8px 30px;
        font-size: 18px;
        margin-top: 1rem;
        margin-left: 10px;
    }

    header .header_menu .nav_login {
        margin-left: 0;
        margin-top: 15px;
    }

     .header_contact p {
        font-size: 22px;
        color: #3B668D;
        line-height: 25px;
        letter-spacing: 11px;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
    }

     .header_contact h1 {
        font-size: 55px;
        color: #3B668D;
        letter-spacing: 24px;
        font-weight: 700;
        margin-bottom: 15px;
        text-transform: uppercase;
        font-family: 'Roboto', sans-serif;
    }
}


@media (max-width:767px) {
    .section_register .register_s textarea {
        width: 540px;
        height: 200px;
    }

    .section_call .section-calll {
        margin-top: 20px;
    }

    .register_s button {
        padding: 5px 20px;
        font-size: 16px;
        margin-top: 1rem;
        margin-left: 20px;
    }

    .register_s .pharagraph {
        font-size: 16px;
        margin-right: -40px;
    }
    
     .header_contact {
        margin-top: 160px;
    }

    section .section_call {
        margin-top:  150px;
    }
    
}

@media (max-width:501px) {
    
    section .section_register h2 {
        font-size: 56px;
        font-weight: 700;
        line-height: 65px;
        margin-bottom: 18px;
    }
    
    section .section_register p {
        font-size: 22px;
        line-height: 33px;
        margin-bottom: 42px;
    }
    
    .section_register .register_s a {
        font-family: 'Comfortaa', cursive;
        font-size: 19px;
        color: #3B3F81;
        line-height: 27px;
        margin-right: 27px;
    }
    
    .section_register .register_s input {
        padding: 10px 114px 10px 21px;
        background: #F3F3F3;
        border-radius: 40px;
    }
    
    .section_register .register_s textarea {
      width: 455px;
      height: 194px;
      border-radius: 25px;
}

    section .section_call {
        margin-top:  150px;  
    }
    .section-call h3,
    .section-calll h3  {
        font-size: 25px;
        line-height: 31px;
    }
    
    .section-call p,
    .section-calll p {
        font-size: 17px;
        line-height: 27px;
    }
    
    .section-calll .call-text {
        margin-left: 53px;
    }
    
}

@media (max-width:350px) {
     .header_contact h1 {
        font-size: 38px;
        margin-bottom: 12px;
    }
    
     .header_contact p {
        font-size: 18px;
        line-height: 18px;
        letter-spacing: 7px;
    }
    
}
@media (max-width:400px) {
    .header_contact {
        margin-top: 0px;
    }
    
    .section-calll .call-text {
        margin-left: 0;
    }
    
    .section-call .call-text {
        margin-left: 0;
    }
}